__pycache__/
*.py[cod]
.ipynb_checkpoints/
.env
data/raw/*
!data/raw/OISST/
data/raw/OISST/*
data/processed/*.nc
outputs/**/*.nc
outputs/**/*.jpg
outputs/**/*.png
outputs/**/*.pdf
outputs/
*.nc
*.shp
outputs/
*.nc
*.shp
data/
outputs/
*.nc
*.shp
